@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-heading tracking-tight;
  }

  p {
    @apply leading-relaxed;
  }

  img {
    @apply max-w-full;
  }
}

/************  
Burger btn 
************/
@layer components {
  .hamburger-bar {
    @apply block h-0.5 w-6 bg-text duration-400;
  }

  #menu-btn.open span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
  }
  #menu-btn.open span:nth-child(2) {
    opacity: 0;
  }
  #menu-btn.open span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
  }
}
