@import "tailwindcss";

@theme {
  /* =====================
     Colours
  ====================== */

  /* Background */
  --color-background: #f5f5f3;
  --color-surface: #171717;

  /* Text */
  --color-text: #1c1c1c;
  --color-text-muted: #686868;

  /* Brand */
  --color-accent: #c86b3c;
  --color-accent-hover: #ae5930;

  /* UI */
  --color-border: #dededa;

  /* =====================
     Typography
  ====================== */

  --font-body: "Plus Jakarta Sans", sans-serif;

  /* =====================
     Radius
  ====================== */

  --radius-sm: 0.375rem;
  --radius-md: 0.625rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;

  /* =====================
     Shadows
  ====================== */

  --shadow-card: 0 10px 30px rgb(0 0 0 / 0.06);

  /* =====================
     Layout
  ====================== */

  --container-width: 80rem;
}

/* ====================================================== */

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-text font-body antialiased;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply tracking-tight;
  }

  p {
    @apply leading-relaxed;
  }
}
